-#
  Listing image for grid

  Includes:
  - Listing image
  - Overlay (transparent gradient black)
  - Listing price
  - Adds `modifier_class` which can be used for view specific fine tunings

/ - listing_obj = Listing.find(listing.id)
/ - total_seats = listing_obj.get_number_of_seats
/ - seats_available = listing_obj.try(:seats_available)
= link_to(listing_path(listing.url), :class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do
  .fluid-thumbnail-grid-image-image-container{:class => "#{modifier_class}"}
    - with_first_listing_image(listing) do |first_image_url|
      = image_tag first_image_url, {:alt => listed_listing_title(listing), :class => "#{modifier_class} fluid-thumbnail-grid-image-image"}

    .fluid-thumbnail-grid-image-overlay{:class => "#{modifier_class}"}
    .fluid-thumbnail-grid-image-title{:class => "#{modifier_class}"} 
      .title
        = listing.title
      / .seat_available.pull-right
      /   - unless total_seats.nil? || seats_available.nil?
      /     = "#{seats_available}/#{total_seats}"  
    .fluid-thumbnail-grid-image-price-container{:class => "#{modifier_class}"}
      - if listing.price
        %span.fluid-thumbnail-grid-image-price
          = humanized_money_with_symbol(listing.price).upcase
          - price_unit = price_quantity_slash_unit(listing)
        - if !price_unit.blank?
          - price_text = " " + price_unit
          %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
            = price_text
      - else
        %span.fluid-thumbnail-grid-image-type{:class => "#{modifier_class}"}
          = shape_name(listing)

